.btn {
    margin-right: 5px;
}
.markedAsDone {
    text-decoration: line-through;
    color: #777;
}
.tableActions {
    width: 125px;
}

.todoForm {
    padding-bottom: 60px;
}

.page-header{
    margin-top: 20px;
    margin-bottom: 20px;
}